* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Estilos de pagina principal*/
.navbar {
  font-family: Arial; }
  .navbar-brand, .navbar-nav .nav-link {
    font-size: 18px; }

p {
  color: #b6b2b2; }

main {
  background-color: #080808;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem; }
  main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    main section img {
      width: 100%;
      border-top-right-radius: 50%; }
    main section p {
      color: #fdfdfd;
      text-align: center; }

.contenedor, .contenedor2 {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .contenedor .imagen, .contenedor2 .imagen {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px; }
    .contenedor .imagen img, .contenedor2 .imagen img {
      max-width: 100%;
      border-radius: 10px; }
    .contenedor .imagen p, .contenedor2 .imagen p {
      font-size: 16px;
      line-height: 1.5;
      margin: 10px 0;
      text-align: center; }
  .contenedor .imagen2, .contenedor2 .imagen2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px; }
    .contenedor .imagen2 img, .contenedor2 .imagen2 img {
      max-width: 100%;
      border-radius: 10px; }
    .contenedor .imagen2 p, .contenedor2 .imagen2 p {
      font-size: 16px;
      line-height: 1.5;
      margin: 10px 0;
      text-align: center; }

.tamanoTitulo {
  font-size: 3rem; }
  .tamanoTitulo .videouno video,
  .tamanoTitulo .videodos video,
  .tamanoTitulo .videotres video {
    max-width: 100%; }

.nosotros {
  padding: 20px; }
  .nosotros h1 {
    font-size: 16px; }
  .nosotros .nosotros-imagenes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .nosotros .nosotros-imagenes img {
      width: 100%;
      max-width: 300px;
      margin-bottom: 20px; }
  .nosotros p {
    font-size: 16px;
    line-height: 1.5; }

main {
  background-color: #080808;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem; }
  @media screen and (max-width: 767px) {
    main {
      grid-template-columns: 1fr;
      grid-template-rows: auto; } }

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 767px) {
    section {
      margin: 1rem; } }

section img {
  width: 100%;
  border-top-right-radius: 50%; }
  @media screen and (max-width: 767px) {
    section img {
      border-top-right-radius: 0;
      border-bottom-left-radius: 50%; } }

section p {
  color: #fdfdfd;
  text-align: center; }

@media (min-width: 768px) {
  .contenedor .imagen, .contenedor2 .imagen {
    flex-direction: row;
    align-items: center; }
    .contenedor .imagen img, .contenedor2 .imagen img {
      max-width: 300px; }
    .contenedor .imagen p, .contenedor2 .imagen p {
      margin-left: 20px;
      text-align: left; }
  .contenedor .imagen2, .contenedor2 .imagen2 {
    flex-direction: row-reverse;
    align-items: center; }
    .contenedor .imagen2 img, .contenedor2 .imagen2 img {
      max-width: 300px; }
    .contenedor .imagen2 p, .contenedor2 .imagen2 p {
      margin-right: 20px;
      text-align: right; } }

@media (min-width: 1024px) {
  .contenedor .imagen, .contenedor2 .imagen {
    margin-bottom: 20px; }
  .contenedor .imagen2, .contenedor2 .imagen2 {
    margin-bottom: 20px; } }

@media only screen and (min-width: 576px) {
  .tamanoTitulo {
    font-size: 4rem; } }

@media only screen and (min-width: 768px) {
  .tamanoTitulo {
    font-size: 3rem; } }

@media only screen and (min-width: 992px) {
  .videouno video,
  .videodos video,
  .videotres video {
    max-width: 800px; } }

@media screen and (min-width: 768px) {
  .nosotros {
    padding: 50px; }
    .nosotros h1 {
      font-size: 100px; }
    .nosotros .nosotros-imagenes {
      justify-content: space-around; }
      .nosotros .nosotros-imagenes img {
        margin-bottom: 0; } }

@media only screen and (min-width: 768px) {
  .mapa-container {
    font-size: 20px; } }

@media only screen and (min-width: 992px) {
  .mapa-container {
    font-size: 24px; }
  .color-texto {
    font-weight: bold; } }

.mapa-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px; }
  .mapa-container .color-texto {
    color: #b6b2b2; }
