//reset

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//imports

@import "html/home.scss";

@import "html/ejercicios.scss";

@import "html/modalidades.scss";

@import "html/nosotros.scss";

@import "html/mediaqueris.scss";





