@import "../utilidades/variables";
@import "../utilidades/mixin";
@import "../utilidades/extend.scss";

//estilos de ejercicios
.contenedor, .contenedor2 {
  display: flex;
  flex-direction: column;
  align-items: center;
 
  .imagen {
    @include flexdos;
    
    img {
      max-width: 100%;
      border-radius: 10px;
    }
    
    p {
      @include flex
    
    }
  }

  .imagen2 {
    @include flexdos;

    img {
      max-width: 100%;
      border-radius: 10px;
    }
    
    p {
      @include flex
    
    }
  }
}