@import "../utilidades/variables";
@import "../utilidades/mixin";
@import "../utilidades/extend.scss";

/* Estilos de pagina principal*/

.navbar {
  font-family: Arial;

  &-brand, &-nav .nav-link {
    font-size: 18px;
  }
}

p {
  color: #b6b2b2;
}

main {
  background-color: #080808;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      border-top-right-radius: 50%;
    }

    p {
      color: #fdfdfd;
      text-align: center;
    }
  }
}
