@import "../utilidades/variables";
@import "../utilidades/mixin";
@import "../utilidades/extend.scss";

//media queris home
main {
  background-color: #080808;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;

  @media screen and (max-width: 767px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 767px) {
    margin: 1rem;
  }
}

section img {
  width: 100%;
  border-top-right-radius: 50%;

  @media screen and (max-width: 767px) {
    border-top-right-radius: 0;
    border-bottom-left-radius: 50%;
  }
}

section p {
  color: #fdfdfd;
  text-align: center;
}


//media queris ejercicios
@media (min-width: 768px) {
  .contenedor, .contenedor2 {
    .imagen {
      flex-direction: row;
      align-items: center;

      img {
        max-width: 300px;
      }
      
      p {
        margin-left: 20px;
        text-align: left;
      }
    }

    .imagen2 {
      flex-direction: row-reverse;
      align-items: center;

      img {
        max-width: 300px;
      }
      
      p {
        margin-right: 20px;
        text-align: right;
      }
    }
  }
}

@media (min-width: 1024px) {
  .contenedor, .contenedor2 {
    .imagen {
      margin-bottom: 20px;
    }

    .imagen2 {
      margin-bottom: 20px;
    }
  }
}


//media queris modalidades

@media only screen and (min-width: 576px) {
  .tamanoTitulo {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 768px) {
  .tamanoTitulo {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 992px) {
  .videouno video,
  .videodos video,
  .videotres video {
    max-width: 800px;
  }
}

//media queris nosotros
@media screen and (min-width: 768px) {
  .nosotros {
    padding: 50px;

    h1 {
      font-size: 100px;
    }

    .nosotros-imagenes {
      justify-content: space-around;

      img {
        margin-bottom: 0;
      }
    }
  }
}
//media queris contacto
@media only screen and (min-width: 768px) {
  .mapa-container {
    font-size: 20px;
  }
}


@media only screen and (min-width: 992px) {
  .mapa-container {
    font-size: 24px;
  }
  
  .color-texto {
    font-weight: bold;
  }
}



