@import "../utilidades/variables";
@import "../utilidades/mixin";
@import "../utilidades/extend.scss";

//media queris home
main {
  background-color: #080808;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;

  @media screen and (max-width: 767px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 767px) {
    margin: 1rem;
  }
}

section img {
  width: 100%;
  border-top-right-radius: 50%;

  @media screen and (max-width: 767px) {
    border-top-right-radius: 0;
    border-bottom-left-radius: 50%;
  }
}

section p {
  color: #fdfdfd;
  text-align: center;
}


//media queris ejercicios

@media screen and (max-width: 768px) {
  .contenedor,
  .contenedor2,
  .contenedor3 {
    flex-direction: column;

    .imagen,
    .imagen2,
    .imagen3 {
      flex-basis: 100%;
      margin-bottom: 20px;
    }
  }
}
//media queris modalidades
@media (max-width: 768px) {
  .videouno,
  .videodos,
  .videotres {
    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 480px) {
  .videouno,
  .videodos,
  .videotres {
    h1 {
      font-size: 1.5rem;
    }

    h2 {
      font-size: 1rem;
    }

    video {
      max-width: 100%;
    }
  }
}

//media queris nosotros
@media screen and (min-width: 768px) {
  .nosotros {
    padding: 50px;

    h1 {
      font-size: 100px;
    }

    .nosotros-imagenes {
      justify-content: space-around;

      img {
        margin-bottom: 0;
      }
    }
  }
}
//media queris contacto
.mapa-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  @media only screen and (min-width: 768px) {
    flex-direction: row;
    
    p {
      margin: 0 1rem;
    }
  }
}

.navbar-brand {
  display: flex;
  align-items: center;

  img {
    margin-right: 5px;
  }
}





