@import "../utilidades/variables";
@import "../utilidades/mixin";
@import "../utilidades/extend.scss";

//estilos modalidades

.tamanoTitulo{
  font-size: 3rem;


  .videouno video,
  .videodos video,
  .videotres video {
    max-width: 100%;
    
  }
}
