@import "../utilidades/variables";
@import "../utilidades/mixin";
@import "../utilidades/extend.scss";

//estilo nosotros

.nosotros {
  padding: 20px;

  h1 {
    font-size: 16px;
  }

  .nosotros-imagenes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    img {
      width: 100%;
      max-width: 300px;
      margin-bottom: 20px;
    }
  }

  p {
    font-size: 16px;
    line-height: 1.5;
  }
}
