@mixin flex{
    display: flex;
    flex-direction: column;
}
@mixin flexdos{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
 