//color principal backround

$color-principal:rgb(8, 8, 8);

//color secundario backround

$color-secundario:rgb(163, 163, 163);

//color parrafo

$color-parrafo: rgb(253, 253, 253);

//color h1

$color-h1: rgb(249, 250, 250);
